* {
    margin-bottom: 2px;
    box-sizing: border-box;
    align-items: center;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.mainFrame {
    border: 3px solid rgb(0, 102, 116);
    border-radius: 5px;
    outline-style: outset;
    outline-color: rgb(0, 141, 160);
    display: inline-block;
    position: absolute;
    background-color: #ffffff;
    margin: 5%;
    padding: 1%;
}