* {
    margin-bottom: 2px;
    box-sizing: border-box;
    align-items: center;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

body {
    background-color: rgb(67, 227, 255);
    background-image: url("../img/background.jpg");
    background-position: center;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.topright-screen {
    position: fixed;
    top: 3em;
    right: 18em;
}

.mainFrame {
    border: 3px solid rgb(0, 102, 116);
    border-radius: 5px;
    outline-style: outset;
    outline-color: rgb(0, 141, 160);
    display: inline-block;
    position: absolute;
    background-color: #ffffff;
    margin: 5%;
    padding: 1%;
}

.input {
    width: 100%;
    font-family: "Dank Mono", ui-monospace, monospace;
    text-align: center;
}

.grid {
    width: 100%;
    flex-wrap: wrap;
    margin: 60px auto;
}

.grid img {
    margin: 2px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    width: 100px;
    height: 150px;
}

.grid img.flip {
    transform: rotateY(180deg);
}

.popup {
    background: red;
    width: 200px;
    height: 200px;
    z-index:20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 23px;
}

.data span {
    color: rgb(206, 121, 11);
    font-size: 30px;
}